.Header {
  position: fixed;
  width: 100%;
  padding: 24px 0;
}

.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}

.Header a {
  color: white;
  font-size: 18px;
}

.Header button {
  padding: 8px 20px;
  font-size: 18px;
  color: #ec7e7b;
  background: transparent;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }

  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }

  .Header a:nth-child(4) {
    display: none;
  }
}
